<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getSurname()}">...</td>
            <td th:utext="${user.getAge()}">...</td>
        </tr>
    </table>
</div>
<br/>
<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
<br/>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>